*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #f3f3f3;
}

#menubar{
    background-color: white;
    border-bottom: 1px solid black;
    border-top: 10px solid rgb(222, 222, 222);
    height: 45px;
    border: 3px, solid, yellow;
}
#menutitle{
    width: 170px;
    margin: 3% 30%;
    float: left;
    border: 1px solid red;
}

#menulinks{
    width: 173px;
    margin: 3% 30%;
    float: right;
    border: 1px solid rgb(60, 255, 0);
}

#ngreen{
    color: #b9c941;
}

.publ {
    background-color: white;
}
