*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #f3f3f3;
}

#menubar{
    background-color: white;
    border-bottom: 1px solid black;
    height: 45px;
}
#menutitle{
    width: 20%;
    margin: 3px 20% 0px 10%; 
    float: left;
}

#menulinks{
    margin: 13px 10% 0% 0%;
    float: right;
}

a{
    color: #535353;
    padding: 10px
}
a:hover{
    padding: 10px;
    background-color: #b9c941;
}
a:active{
    background-color: #e1ff00;
    color: #444444;
}


#ngreen{
    color: #b9c941;
}

.publ {
    background-color: white;
    margin: 10px 0 10px 0;
}
p{
    margin-left:0 0 0 1%;
}
.imgpeq{
    width: 15%;
    margin-inline: 30px;
}
